* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.grid {
    /* max-width: 1200px; */
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* fr => fragmento : ocupa/divide todo o espaço restante proporcionalmente. repeat(X vezes, Y fragmentos) */

    gap: 30px;
}

.grid div {
    background: teal;
    min-height: 100px;
}

.grid div:nth-child(5) {
    background: darkblue;
    grid-column-start: 2;
    grid-column-end: 4;
    /* grid-row-start: ; 
       grid-row-end: ; */
       grid-row: span 4;
       /* grid-column: span 4; */
}

@media (max-width: 769px) {
    .grid div:nth-child(5) {
        grid-column: span 1;
    }
}