* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column;
    Define como principal eixo: row => eixo X(main) | column => eixo Y(cross) */
    justify-content: flex-start;
    /* justify content se baseia no principal eixo */
    align-items: flex-start;
    /* align items (alinhar itens) se baseia no eixo perpendicular */
    align-content: center;
    /* align content (alinhar conteudo) */
    background: orangered;
    height: 640px;
    /*  gap: 30px;
    define espaço entre os elementos, porém não funciona em todos os navegadores */
}

.flex-item {
    width: 33.33%;
    border: 1px solid #fff;
    background: #ffffff70;
    /* margin: 10px; */
}

/* .flex-item:nth-child(3) {
    font-size: 40px;
} */